.body_bg{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222batch3-kul-21_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=ec7b8c3c86b2af33e936d1db7832326a");
    background-size: cover;
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}